template(name='mainLayout')
  .navbar.navbar-inverse.navbar-fixed-top
    .container
      +navbarHeader
      .collapse.navbar-collapse
        +navbarLeft
        +navbarRight

  .container-fluid
    +flashMessages
    +yield
